.main-screen {
    display: flex;
}

.ticker {
    width: 100%;
}

.left-column {
    float: left;
    width: 80%;
}

.main-left-rows {
    /* display: flex;
    flex-direction: column; */
    height: 700px;
    padding: 20px;
}
.main-left-row-upper {
    display: flex;
    /* align-items: center;
    flex-wrap: nowrap; */
    overflow-x: auto;
    overflow-y: hidden; /* Hide vertical scrollbar */
}
.main-left-row-upper > div {
    background-color: #f1f1f1;
    width: 200px;
    height: 350px;
    vertical-align: top;
    margin: 5px;
    text-align: center;
    /* line-height: 75px; */
    /* font-size: 10px; */
}
.main-left-row-second {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: antiquewhite;

}
.main-left-row-second > div {
    background-color: #f1f1f1;
    width: 350px;
    height: 200x;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.right-column {
    display: flex;
    flex-direction: column;
    float: right;
    width: 20%;
}
.right-column > div {
    /* background-color: orange; */
    /* width: 300px; */
    /* margin: 10px; */
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.rtc-widgets {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
